@import '~bootstrap/scss/bootstrap';

main{
    background-color: rgba(2,130,249,255)
}
.bg-blue{
    
    color: white;
    text-align: end;
  
}
.ul-header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 700;
}
.col-8, .col-2{
    display: flex;
    align-items: center;
}
.active{
    color: rgba(2,130,249,255);
    border-bottom: 3px solid rgba(2,130,249,255)
}

.jumbo{
    background-image: url("../img/jumbotron.jpg");
    height: 400px
}
.img-sfondo{
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
}
.logo{
    width: 550px;
    position: absolute;
    top:0%
}
.img-dc{
    display: flex;
    justify-content: end;
}
li{
    gap: 20px
}
.text-grey{
    color: grey
}
.sfondo-blue{
    background-color: rgba(2,130,249,255)
}
.lista-sfondo-blue{
    display: flex;
    flex-direction: row;
    margin: 0px ;
    gap: 50px;
    
    img{
        width: 50px
    }
    li{
        display: flex;
        align-items: center;
    }
}
a{
    text-decoration:none ;
    color: black
}
a:hover{
    color: rgba(2,130,249,255)
}
.thumbs{
    width: 200px;
    height: 200px
}
.sfondo-nero{
    background-color: black;
}
.card{
    background-color: black;
   
}
